{% extends 'recipe.html' %}
{% load static %}

{% block title %} {{recipe.name}} {% endblock %}
{% block content %}
    <div class="recipename">
        <h1>{{recipe.name}}</h1>
        <span class="author">by: {{recipe.author}}</span>
    </div>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>

    <div class="gallery">
        <a href="{% url 'ledger:recipe-upload' recipe.pk %}">Add new image...</a>
        {% for image in recipe.images.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endfor %}
    </div>
{% endblock %}